
{% block header_block %}
<header class="site-navbar py-1" role="banner">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0"><a href="/" class="text-black h1 mb-0">Travelers</a></h1>
      </div>
      
      <div class="col-10 col-md-8 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <li class="active">
              <a href="/">Home</a>
            </li>
                <li class="has-children">
                  <a href="">Destinations</a>

                  <ul class="dropdown">
                      {% for i in allcountries %}
                      <li><a href="{% url 'single_country' i.id %}">{{i.country_name}}</a></li>
                      {% endfor %}
                  </ul>

                </li>
            {#<li><a href="discount.html">Discount</a></li>#}
            {#<li><a href="about.html">About</a></li>#}
            <li><a href="/blog">Blog</a></li>
            {#<li><a href="contact.html">Contact</a></li>#}
            {% if user.is_authenticated %}
             {% if show == "True" %}
            <li><a href="./{{ city.id }}/reservation">Book Online</a></li>
            {% endif %}
          {% endif %}
          </ul>
        </nav>
      </div>

      <div class="col-6 col-xl-2 text-right">
        <div class="d-none d-xl-inline-block">
          <div class="col-6 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                {% if user.is_authenticated %}
                  {% if not request.get_full_path == '/profile' %}
                  <li class="nav-item">
                    <a class="nav-link btn-outline-secondary" href="/profile">Profile</a>
                  </li>
                  {% endif %}
                  <li>
                    <a class="nav-link btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li>
                  <label style="margin-left:30px;margin-top:7px;color:gray">Hi,{{ user.username }}</label>
                  </li>
                {% else %}
              {% if not request.get_full_path == '/register' %}
                <li style="margin-right:10px;">
                  <a href="{% url 'register' %}">Signup</a>
                {% endif %}
                {% if not request.get_full_path == '/accounts/login/' %}
                <li >
                  <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>

    </div>
  </div>
</header>
{% endblock %}


{% block body_block %}
{% endblock %}

{% block footer_block %}
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">About Travelers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="row mb-5">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Navigations</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Destination</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="mb-5">
          <h3 class="footer-heading mb-2">Search Travel</h3>
          <p>Search for a specific country or city.</p>
          <form action="#" method="GET">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Country or City" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-white" type="submit" id="button-addon2">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="mb-5">
          <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
          <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}